.App {
  text-align: center;
  background-color: #778899;
}

html {background-color: #778899}

img {
  display: block;
  height: 5cm;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}


 .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  max-width: 200px;
  text-align: center;
}  */

.review {
  margin: 25px 500px 50px 500px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

